.DS_STORE
__pycache__
venv/
webapp/backend/aiserver.db
webapp/frontend/src/AppSettings.js
webapp/backend/settings.json
package-lock.json
webapp/frontend/package-lock.json
webapp/backend/.vscode/
.env
**/*.db
mounts/
user_config/backend_settings.json
user_config/frontend_settings.js
user_config/nginx_settings.conf
user_config/settings